body{
    background-color: blanchedalmond;
}

img{
    height: 250px;
    width: 250px;
}

.CatImg{
    border-radius: 15px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.DinoImg{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.DogImg{
    border-radius: 7.5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1.2);
    transition: 0.9s;
}

.pet{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 24%;
    background-color: ghostwhite;
}
header{
    font-weight: bold;
    background-color: gray;
    font-size: 2em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colors{
    font-size: 1.25em;
}

.skills{
    font-size: 1.1em;
}
#pet-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Cat{
    background-color: limegreen;
}

.Dog{
    background-color: lightskyblue;
}

.Dino{
    background-color: steelblue;
}


.btn{
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: gray;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn:hover{
    background-color: green;
}

.btn.active{
    background-color: navy;
    color: white;
}