body{
    background-color: blanchedalmond;
}

img{
    height: 250px;
    width: 250px;
}
.pet{
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 24%;
}
header{
    font-weight: bold;
    background-color: gray;
    font-size: 2em;
    color: white;
}

.colors{
    font-size: 1.25em;
}

.skills{
    font-size: 1.1em;
}
#pet-cards{
    display: flex;
    flex-wrap: wrap;
}
.Cat{
    background-color: limegreen;
}

.Dog{
    background-color: lightskyblue;
}

.Dino{
    background-color: steelblue;
}